<strong>Olá, {{ deliverer }}</strong>
<p>Você tem um novo produto para retirada:</p>
<p>
  <strong>Destinatário: </strong>{{ recipientName }}<br />
  <strong>Produto: </strong>{{ product }}<br />
  <strong>Endereço: </strong><br />
  Rua {{ street }}, nº {{number}} - complemento {{complement}}<br />
  CEP: {{ zip }}<br />
  {{ city }} - {{ state }}<br />
  <br />
  <small>
    Inicie a sua entrega na retirada utilizando o aplicativo.
  </small>
</p>
